<!DOCTYPE html>
<html>
<head>
    <title>PHP Config</title>

    <link rel="stylesheet" type="text/css" href="{{ resource_url('css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ resource_url('css/style.css') }}" />
</head>
<body>

<div class="header--container">
    <div class="configuration-filter--form">
        <form method="POST" action="{{ url('config/search') }}">
            <input type="text" name="input" placeholder="Filter configurations..." autocomplete="off" />

            <i class="fa fa-search"></i>
        </form>
    </div>
    <div class="configuration--name">
        Complex PHP Configuration
    </div>
</div>

<div class="configuration--list">
    <div class="list--header">
        All Configurations (<span class="configuration--count">0</span>)
    </div>
    <div class="list--items"></div>
</div>

<div class="configuration--container"
    data-loadUrl="{{ url('config/load') }}"
    data-fetchUrl="{{ url('config/fetch') }}"
    data-deleteUrl="{{ url('config/delete') }}"
    data-loadFieldsUrl="{{ url('config/loadFields') }}">
    <p>
        <strong>Welcome</strong>
    </p>
    <p>
        Please select a configuration from the left side to start.
    </p>
</div>

<script type="text/javascript" src="{{ resource_url('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ resource_url('js/custom.bundle.js') }}"></script>

</body>
</html>