<!DOCTYPE html>
<html>
<head>
    <title>PHP Config</title>

    <script type="text/javascript" src="{{ resource_url('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ resource_url('js/custom.bundle.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ resource_url('css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ resource_url('css/style.css') }}" />
</head>
<body>

<div class="header--container">
    <div class="configuration-filter--form">
        <form method="POST" action="{{ url('search/config') }}">
            <input type="text" name="input" placeholder="Filter configurations..." />

            <i class="fa fa-search"></i>
        </form>
    </div>
    <div class="configuration--name">
        Complex PHP Configuration
    </div>
</div>

<div class="configuration--list">
    <div class="list--header">
        All Configurations ({{ configurations|length }})
    </div>
    <div class="list--items">
        {% for config in configurations %}
            <div class="item" data-configId="{{ config.id }}">{{ config.label }}</div>
        {% endfor %}
    </div>
</div>

<div class="configuration--container">
    $content;
</div>

</body>
</html>